.container {
    padding: 1em;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around; 
}

.blanc {
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(0, 0, 0);
    font-size: 2em;
    font-weight: bolder;
    padding: 2em;
}