.bar {
    padding: 1em;
}

.inputSearch {
    width: 300px;
    padding: 10px;
    border-radius: 20px;
    background-color: rgba(150, 150, 150, 0.308);
    border-color: rgb(4, 73, 73);
    color: white;
}

::placeholder {
    color: white;
    opacity: 1;
  }

.btnSearch {
    padding: 10px;
    margin-left: 10px;
    border-radius: 20px;
    background-color:rgb(216, 216, 216);
    color: rgb(0, 0, 0);
}

.btnSearch:hover {
    background-color:rgb(121, 121, 121);
    color: rgb(255, 255, 255);   
    border-color: white; 
}